@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Visit the following GitHub link for the source code(authorized users only): <a href="https://github.com/MSoykan/OctapullMVC">https://github.com/MSoykan/OctapullMVC</a>.</p>

    <p>Your User Id: @ViewData["UserID"]</p>
</div>
